<h1>Email change</h1>
<p>Hello there! Click the below button to confirm your email change.</p>
<p class="muted">
  If that was not you, please ignore this email and do not click the below button
</p>
<a class="button big" href="<%= link %>">Confirm email change</a>
