<h1>Confirm your Pablo's Account</h1>
<p>
  Hello there! Thank you for creating Pablo's Account!<br />Click the below button to
  confirm your email and set a password.
</p>
<p class="muted">If you did not sign up for this account, you can ignore this email</p>
<a class="button big" href="<%= link %>">Confirm email address</a>
