<h1>Accommodation booking</h1>
<p>
  Hello there! Thank you for placing accommodation booking in Pablo's. We hope you'll have
  the time of your life with us. To make everything easier, we've put the QR code below.
</p>
<img src="<%= image %>" />
<p class="muted"><%= token %></p>
<p>Security code: <b><%= code %></b></p>
<a class="button big" href="<%= link %>">Check details</a>
